<div class="mdui-container mdui-p-x-5">
    <div class="mdui-card mdui-m-t-3">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">Users</div>
        </div>
        <div class="mdui-card-content">
            <div class="mdui-textfield mdui-textfield-expandable mdui-p-b-2">
                <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                    <span class="mdui-icon material-icons">search</span>
                </button>
                <label for="search_user"></label>
                <input class="mdui-textfield-input" id="search_user" placeholder="Filter by..." type="text" />
                <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
                    <span class="mdui-icon material-icons">close</span>
                </button>
            </div>
            <div class="mdui-table-fluid">
                <table class="mdui-table mdui-table-hoverable">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Is reviewer</th>
                        <th>Is admin</th>
                        <th class="mdui-table-col-numeric">Reviewing</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mdui-card-actions">
            <button class="mdui-btn mdui-float-right">next page</button>
        </div>
    </div>
</div>