<div class="mdui-container-fluid">
    <p class="mdui-typo-display-4 mdui-text-center mdui-m-b-0" style="font-weight: bold;">{{- .statusCode -}}</p>
    <p class="mdui-typo-display-2 mdui-text-center mdui-m-y-0">{{- .info -}}</p>
    <p class="mdui-center mdui-p-t-3">
        <a class="mdui-center mdui-btn mdui-color-light-blue mdui-text-color-white mdui-ripple" href="/" style="width: 20%">Back to home page</a>
    </p>
</div>
