<!DOCTYPE html>

<html lang="en">

<header>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Clayton University Library</title>
    {{/* Import remotely */}}
    {{/* <link href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" rel="stylesheet" type="text/css"/> */}}
    {{/* <script rel="script" src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" type="application/javascript"></script> */}}
    {{/* <script rel="script" src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js" type="application/javascript"></script> */}}
    {{/* Import locally */}}
    <link href="/static/mdui/css/mdui.min.css" rel="stylesheet" type="text/css">
    <script rel="script" src="/static/mdui/js/mdui.min.js" type="application/javascript"></script>
    <script rel="script" src="/static/js/ajax.js" type="application/javascript"></script>
    <script rel="script" src="/static/js/base.js" type="application/javascript"></script>
    <script rel="script" src="/static/js/md5.js" type="application/javascript"></script>
</header>

<body class="mdui-theme-primary-brown mdui-theme-accent-light-blue mdui-theme-layout-auto mdui-appbar-with-toolbar" style="display: flex; min-height: 91vh; flex-direction: column;">

<div class="mdui-drawer mdui-drawer-close mdui-shadow-3" id="drawer">
    <ul class="mdui-list">
        <li>
            <a class="mdui-list-item mdui-ripple" href="/">
                <span class="mdui-list-item-icon mdui-icon material-icons">home</span>
                <span class="mdui-list-item-content">Home Page</span>
            </a>
        </li>
        <li class="mdui-subheader">Papers</li>
        <li>
            <a class="mdui-list-item mdui-ripple" href="/papers">
                <span class="mdui-list-item-icon mdui-icon material-icons">library_books</span>
                <span class="mdui-list-item-content">Latest Papers</span>
            </a>
        </li>
        {{- if .isLogin -}}
            <li>
                <a class="mdui-list-item mdui-ripple" href="/papers/upload">
                    <span class="mdui-list-item-icon mdui-icon material-icons">file_upload</span>
                    <span class="mdui-list-item-content">Upload Paper</span>
                </a>
            </li>
            {{- if .isReviewer -}}
                <li>
                    <a class="mdui-list-item mdui-ripple" href="/papers/peer_review">
                        <span class="mdui-list-item-icon mdui-icon material-icons">rate_review</span>
                        <span class="mdui-list-item-content">Peer Review</span>
                    </a>
                </li>
            {{- end -}}
        {{- end -}}
        <li class="mdui-subheader">User</li>
        {{- if .isLogin -}}
            {{- if .isAdmin -}}
                <li>
                    <a class="mdui-list-item mdui-ripple" href="/admin">
                        <span class="mdui-list-item-icon mdui-icon material-icons">people</span>
                        <span class="mdui-list-item-content">Manage Users</span>
                    </a>
                </li>
            {{- end -}}
            <li>
                <a class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-update-username'}">
                    <span class="mdui-list-item-icon mdui-icon material-icons">assignment_ind</span>
                    <span class="mdui-list-item-content">Update Username</span>
                </a>
            </li>
            <li>
                <a class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-update-password'}">
                    <span class="mdui-list-item-icon mdui-icon material-icons">vpn_key</span>
                    <span class="mdui-list-item-content">Update Password</span>
                </a>
            </li>
            <li>
                <a class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-logout'}">
                    <span class="mdui-list-item-icon mdui-icon material-icons">person_outline</span>
                    <span class="mdui-list-item-content">Logout</span>
                </a>
            </li>
        {{- else -}}
            <li>
                <a class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-login'}">
                    <span class="mdui-list-item-icon mdui-icon material-icons">person</span>
                    <span class="mdui-list-item-content">Login</span>
                </a>
            </li>
            <li>
                <a class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-register'}">
                    <span class="mdui-list-item-icon mdui-icon material-icons">person_add</span>
                    <span class="mdui-list-item-content">Register</span>
                </a>
            </li>
        {{- end -}}
    </ul>
</div>

<header class="mdui-appbar mdui-appbar-fixed mdui-color-theme-700">
    <div class="mdui-toolbar">
        <a class="mdui-btn mdui-btn-icon" mdui-drawer="{target:'#drawer'}">
            <span class="mdui-icon material-icons">menu</span>
        </a>
        <a class="mdui-typo-title">Clayton University Library</a>
        <a class="mdui-toolbar-spacer"></a>
        <a class="mdui-textfield mdui-textfield-expandable mdui-float-right" style="max-width: 60%">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon" onclick="search()">
                <span class="mdui-icon material-icons mdui-text-color-white">search</span>
            </button>
            <label for="search-keyword" hidden></label>
            <input class="mdui-textfield-input" id="search-keyword" placeholder="Search in the library" style="color: white" type="text"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
                <span class="mdui-icon material-icons mdui-text-color-white">close</span>
            </button>
        </a>
    </div>
</header>

<main style="flex: 1">
    {{- .LayoutContent -}}
</main>

{{- if .isLogin -}}
    <div class="mdui-dialog" id="dialog-update-username">
        <div class="mdui-dialog-title">Update Username</div>
        <div class="mdui-dialog-content" hidden id="update-username-spinner">
            <div class="mdui-spinner mdui-spinner-colorful mdui-center" style="top: 50%;"></div>
        </div>
        <div class="mdui-dialog-content" id="update-username-content">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <span class="mdui-icon material-icons" mdui-tooltip="{content: 'Consists of letters, letters, and underline, longer than 2 and shorter than 16'}">person</span>
                <label class="mdui-textfield-label" for="update-username-username">New Username</label>
                <input class="mdui-textfield-input" id="update-username-username" maxlength="16" min="2" pattern="^\w{2,16}$" required type="text"/>
                <div class="mdui-textfield-error">Illegal username format</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-p-t-0">
                <span class="mdui-icon material-icons">security</span>
                <label class="mdui-textfield-label" for="update-username-password">Password</label>
                <input class="mdui-textfield-input" id="update-username-password" required type="password"/>
                <div class="mdui-textfield-error">Please enter password</div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>cancel</button>
            <button class="mdui-btn mdui-ripple" onclick="updateUsername()">update</button>
        </div>
    </div>

    <div class="mdui-dialog" id="dialog-update-password">
        <div class="mdui-dialog-title">Update Password</div>
        <div class="mdui-dialog-content" hidden id="update-password-spinner">
            <div class="mdui-spinner mdui-spinner-colorful mdui-center" style="top: 50%;"></div>
        </div>
        <div class="mdui-dialog-content" id="update-password-content">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <span class="mdui-icon material-icons" mdui-tooltip="{content: 'Consists of nonempty characters, longer than 2 and shorter than 16'}">vpn_key</span>
                <label class="mdui-textfield-label" for="update-password-new">New password</label>
                <input class="mdui-textfield-input" id="update-password-new" maxlength="16" minlength="8" pattern="^\S{8,16}$" required type="password"/>
                <div class="mdui-textfield-error">Invalid password format</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-p-t-0">
                <span class="mdui-icon material-icons">security</span>
                <label class="mdui-textfield-label" for="update-password-old">Old password</label>
                <input class="mdui-textfield-input" id="update-password-old" required type="password"/>
                <div class="mdui-textfield-error">Please enter password</div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>cancel</button>
            <button class="mdui-btn mdui-ripple" onclick="updatePassword()">update</button>
        </div>
    </div>

    <div class="mdui-dialog" id="dialog-logout">
        <div class="mdui-dialog-title">User Logout</div>
        <div class="mdui-dialog-content" hidden id="logout-spinner">
            <div class="mdui-spinner mdui-spinner-colorful mdui-center" style="top: 50%;"></div>
        </div>
        <div class="mdui-dialog-content" id="logout-content">Are you sure to logout?</div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>cancel</button>
            <button class="mdui-btn mdui-ripple" onclick="logout()">logout</button>
        </div>
    </div>
{{- else -}}
    <div class="mdui-dialog" id="dialog-login">
        <div class="mdui-dialog-title">User Login</div>
        <div class="mdui-dialog-content" hidden id="login-spinner" style="height: inherit">
            <div class="mdui-spinner mdui-spinner-colorful mdui-center" style="top: 50%;"></div>
        </div>
        <div class="mdui-dialog-content" id="login-content">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <span class="mdui-icon material-icons">email</span>
                <label class="mdui-textfield-label" for="login-email">Email</label>
                <input class="mdui-textfield-input" id="login-email" required/>
                <div class="mdui-textfield-error">Please enter email</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-p-t-0">
                <span class="mdui-icon material-icons">vpn_key</span>
                <label class="mdui-textfield-label" for="login-password">Password</label>
                <input class="mdui-textfield-input" id="login-password" required type="password"/>
                <div class="mdui-textfield-error">Please enter password</div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>cancel</button>
            <button class="mdui-btn mdui-ripple" onclick="login()">login</button>
        </div>
    </div>

    <div class="mdui-dialog" id="dialog-register">
        <div class="mdui-dialog-title">User Register</div>
        <div class="mdui-dialog-content" hidden id="register-spinner">
            <div class="mdui-spinner mdui-spinner-colorful mdui-center" style="top: 50%;"></div>
        </div>
        <div class="mdui-dialog-content" id="register-content">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <span class="mdui-icon material-icons" mdui-tooltip="{content: 'E.g. claytonuniversity@dl4csr.org'}">email</span>
                <label class="mdui-textfield-label" for="register-email">Email</label>
                <input class="mdui-textfield-input" id="register-email" required type="email"/>
                <div class="mdui-textfield-error">Illegal email format</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-p-t-0">
                <span class="mdui-icon material-icons" mdui-tooltip="{content: 'Consists of letters, letters, and underline, longer than 2 and shorter than 16'}">person</span>
                <label class="mdui-textfield-label" for="register-username">Username</label>
                <input class="mdui-textfield-input" id="register-username" maxlength="16" min="2" pattern="^\w{2,16}$" required type="text"/>
                <div class="mdui-textfield-error">Illegal username format</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-p-t-0">
                <span class="mdui-icon material-icons" mdui-tooltip="{content: 'Consists of nonempty characters, longer than 2 and shorter than 16'}">vpn_key</span>
                <label class="mdui-textfield-label" for="register-password">Password</label>
                <input class="mdui-textfield-input" id="register-password" maxlength="16" minlength="8" pattern="^\S{8,16}$" required type="password"/>
                <div class="mdui-textfield-error">Illegal password format</div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>cancel</button>
            <button class="mdui-btn mdui-ripple" onclick="register()">register</button>
        </div>
    </div>
{{- end -}}

<div class="mdui-dialog" id="dialog-loading">
    <div class="mdui-dialog-title">Please Wait...</div>
    <div class="mdui-dialog-content">
        <div class="mdui-center mdui-spinner"></div>
    </div>
</div>

<footer class="mdui-container-fluid mdui-p-y-1 mdui-p-x-0" style="width: 100%;">
    <div class="mdui-divider"></div>
    <div class="mdui-typo-title mdui-text-center mdui-p-t-2">Clayton University Library</div>
    <div class="mdui-typo-caption-opacity mdui-text-center mdui-p-t-1">Powered by DL4CSR</div>
    <div class="mdui-typo-body-1-opacity mdui-text-center mdui-p-y-1">&copy; 2022 AreSZerA</div>
</footer>

</body>

</html>